<section>
<%= form_for @task do |f| %>
  <fieldset>
    <legend><%= @legend_name %></legend>
    <div>
      <%= f.label :name, "name"%>
      <%= f.text_field :name %><br />
    </div>

    <div>
      <%= f.label :description, "description" %>
      <%= f.text_field :description %><br />
    </div>

    <div>
      <%= f.label :completed_date, "completed date" %>
      <%= f.text_field :completed_date %><br />
    </div>

    <div id="submit_button_holder">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>

<a href="/tasks/" class="bottom_of_page_link">Back to List</a>

</section>
