<div id="form">
  <p id="form_title">Task info</p>
  <%= form_for @task, url: { action: 'update' }, method: :patch do |f| %>
    <section>
      <%= f.label :name %>:
      <%= f.text_field :name, :value => @task.name %>
    </section>

    <section>
      <%= f.label :description %>:
      <%= f.text_field :description, :value => @task.description %>
    </section>

    <%= f.submit "Update Task", :class => "button" %>
  <% end %>
  <div id="link_back">
    <%= link_to "back", "/tasks/" %>
  </div>
</div>
