<div id="table">
  <table>
    <thead>
      <tr>
        <td colspan="4" id="title">
          My Tasks
        </td>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <% if !task.completed %>
          <td><%= link_to '<i class="icon-check-empty"></i>'.html_safe, "/tasks/#{task.id}/complete", method: :patch %></td>
        <% else %>
          <td><%= link_to '<i class="fa fa-check-square-o"></i>'.html_safe, "/tasks/#{task.id}/complete", method: :patch, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= task.name %></td>
        <td><%= link_to "details", "/tasks/#{task.id}" %></td>
        <td class="delete">
          <%= link_to 'delete?',  { action: :destroy, id: task.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td colspan="4" id="table_nav">
          <%= link_to "new task", "/tasks/new" %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
