<div id="form">
  <h1 id="form_title">Task info</h1>
  <%= form_for @task do |f| %>
    <section>
      <%= f.label :name %>:
      <%= f.text_field :name %>
    </section>

    <section>
      <%= f.label :description %>:
      <%= f.text_field :description %>
    </section>

    <%= f.submit "New Task", :class => "button" %>
  <% end %>
  <div id="link_back">
    <%= link_to "back", "/tasks/" %>
  </div>
</div>
