<%= form_for @task, url: {action: "#{@action}"}, method: :patch do |f| %>
  <fieldset>
    <legend> Edit Task </legend>
      <p id="name"><%= f.label :name %>:
      <%= f.text_field :name %> </p>

      <p id="description"> <%= f.label :description %>
      <%= f.text_field :description %></p>
      <%= f.submit class: "submit"%>
  </fieldset>


  <% end %>
