<table>
  <tbody>
    <tr>
      <td><%= f.label :name, "Name:" %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label "Description:" %></td>
      <td><%= f.text_field :description %></td>
    </tr>
    <tr>
      <td><%= f.label :person_id, "Person:" %></td>
      <td><%= f.collection_select(:person_id, Person.all, :id, :name, prompt: "Select The Person To Complete This:") %></td>
    </tr>
  </tbody>
</table>
<%= f.submit %>
