<h1>Edit Task</h1>


<%= form_for @task, url: { action: 'update' }, method: :patch do |f| %>
  <table>
    <tbody>
      <tr>
        <td><%= f.label "Name:" %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label "Description:" %></td>
        <td><%= f.text_field :description %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit %>
<% end %>
