<div class= "wrapper-front">
  <div class="button-farm">
    <a href="tasks/new"><h1>Add a new task!</h1></a>

    <input type="submit" id="submit" name="submit" onclick="return confirm('Are you sure?')" value="Clear Completed">
  </div>
  <div>
    <% unless @sorted_tasks[:todo].nil? %>
      <% @sorted_tasks[:todo].each do |task| %>
        <div class="task">
          <div class="info">
            <span><%= link_to task.name, "/tasks/#{task.id}" %></span>
            <div class="task-detail">
              <%= task.description %>
            </div>
          </div>
          <div class="task-buttons">
            <%= button_to "/tasks/#{task.id}/complete", method: "patch" do %> <%= fa_icon("check fw lg") %> <% end %>
            <%= button_to "/tasks/#{task.id}", method: "patch" do %> <%= fa_icon("pencil-square-o fw lg") %> <% end %>
            <%= button_to "/tasks/#{task.id}", method: "delete", onclick: "return confirm('Are you sure?')" do %> <%= fa_icon("trash-o fw lg") %> <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <% unless @sorted_tasks[:completed].nil? %>
      <% @sorted_tasks[:completed].each do |task| %>
        <div class="task">
          <div class="info">
            <span class="complete"><%= link_to task.name, "/tasks/#{task.id}" %></span>
          </div>
          <div class="task-buttons">
            <%= button_to "/tasks/#{task.id}", method: "delete", onclick: "return confirm('Are you sure?')" do %> <%= fa_icon("trash-o fw lg") %> <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
