<section>
  <h1>Tasks</h1>
  <ul>
    <% @tasks.each do |task| %>
      <% if task.completed_date == nil %>
        <% @completion_id = "incomplete_button" %>
      <% else %>
        <% @completion_id = "complete_button" %>
      <% end %>
      <li class="task_list", id="holder">
        <div class="task_list", id="left">
          <%= button_to "✓","/tasks/#{task.id}/complete", method: :patch, id: @completion_id %>
        </div>
        <div class="task_list", id="second_to_left">
          <a href= "/tasks/<%= task.id %>"><%= task.name %></a>
        </div>
        <div class="task_list", id="right">
          <% if !task.person.nil? %>
            <a href= "/people/<%= task.person.id %>"><%= task.person.name %></a>
          <% end %>
        <div>
      </li>
    <% end %>
  </ul>

<section id="index_buttons">
  <div class="button_holder">
    <a href="/tasks/new" class="button plus"></a>
  </div>

  <div class="button_holder">
    <a href="/tasks/pre_edit" class="button pencil"></a>
  </div>

  <div class="button_holder">
    <a href="/tasks/remove" class="button cross"></a>
  </div>
</section>
</section>
