<div class = "tasks">
<h1>To Do:</h1>
<ul>
  <% @tasks.each do |task| %>
    <%if task.completed_at == nil %>
      <li>
        <%= link_to '<i class="fa fa-square-o fa-fw"></i>'.html_safe, "tasks/#{task.id}/complete", method: :patch %>
        <%= link_to task.name, "/tasks/#{task.id}" %>  <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, "/tasks/#{task.id}",
        method: :delete, data: { confirm: 'Confirm Delete' }, class: "delete-link" %>
      </li>
    <% end %>
  <% end %>
  <% @tasks.each do |task| %>
    <%if task.completed_at != nil %>
      <li>
          <%= link_to '<i class="fa fa-check-square-o fa-fw"></i>'.html_safe, "tasks/#{task.id}/incomplete", method: :patch %>
        <%= link_to task.name, "/tasks/#{task.id}", class: "complete-task" %>  <%=link_to '<i class="fa fa-trash-o"></i>'.html_safe, "/tasks/#{task.id}",
        method: :delete, data: { confirm: 'Confirm Delete' }, class: "delete-link" %>
      </li>
    <% end %>
  <% end %>
</ul>
<%= link_to "Create A New Task", "tasks/new" %>
</div>
