<div class= "wrapper-front">
  <div class="button-farm">
    <a href="tasks/new"><h1>Add a new task!</h1></a>
  </div>
  <div>
    <% unless @sorted_tasks[:todo].nil? %>
      <% @sorted_tasks[:todo].each do |task| %>
        <div class="task">
          <div class="info">
            <span><%= link_to task.name, "/tasks/#{task.id}" %></span>
            <div class="task-detail">
              <%= task.description %>
            </div>
          </div>
          <div class="task-buttons">
            <%= button_to("/tasks/#{task.id}/complete", method: "patch", title: "Complete") { fa_icon("check fw lg") } %>
            <%= button_to("/tasks/#{task.id}/edit", method: "get", title: "Edit") { fa_icon("pencil-square-o fw lg") } %>
            <%= button_to("/tasks/#{task.id}", method: "delete", onclick: "return confirm('Are you sure?')", title: "Delete") { fa_icon("trash-o fw lg") } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <% unless @sorted_tasks[:completed].nil? %>
      <% @sorted_tasks[:completed].each do |task| %>
        <div class="task">
          <div class="info">
            <span class="complete"><%= link_to task.name, "/tasks/#{task.id}" %></span>
          </div>
          <div class="task-buttons">
            <%= button_to("/tasks/#{task.id}", method: "delete", onclick: "return confirm('Are you sure?')", title: "Delete") { fa_icon("trash-o fw lg") } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
