<h1> Here are your tasks! </h1>
<h1> You're going to get so much done! </h1>

<%= image_tag "shia_squat copy.gif", width: "500", height: "auto" %>
<h2> This is all the stuff you still gotta do:</h2>
<ul>
  <% @current_tasks.each do |task| %>
    <li><a href=tasks/<%=task.id%>><%= task.name %></a>: <%= task.description%>
    <%= task.completed%>
    <%= button_to "Delete Task", { action: :destroy, id: task.id}, method: :delete, data: { confirm: "Are you sure that you want to delete this?" } %>
    <%= button_to "Complete Task", {action: :toggle_completed, id: task.id}, method: :patch%>

    </li>
  <%end%>
</ul>

<h2> Here's all the stuff you already finished!</h2>
<ul id= completed>
  <% @completed_tasks.each do |task| %>
    <li><a href=tasks/<%=task.id%>><%= task.name %></a>: <%= task.description%>, Completed at: <%= task.completed%>
    <%= button_to "Delete Task", { action: :destroy, id: task.id}, method: :delete, data: { confirm: "Are you sure that you want to delete this?" } %>
    </li>
  <%end%>
</ul>
<%= link_to "Add a new task", "tasks/new" %>
