<h1>Task Detail</h1>
<h3><%= @task.name.capitalize %>   <%= link_to "âœ", "/tasks/#{@task.id}/edit", method: :get %></h3>
  <p>
    <%= @task.description %>
  </p>
  <p>
    <% if @task.completed_date.nil? %>
      <%= "Not yet completed" %>
    <% else %>
      <%= @task.completed_date.strftime("Completed on %m/%d/%Y") %>
    <% end %>
    <%= "by #{ @task.person.name }" if !@task.person.name.nil? %>

  </p>
