<h1>Task Details</h1>
  <p><strong>Name:</strong> <%= @task.name %></p>
  <p><strong>Description:</strong> <%= @task.description %></p>
  <p><strong>Owner:</strong>
    <% if !@task.person.nil? %>
      <%= @task.person.name %>
    <% end %>
  </p>
    <% if @task.comp_date == nil %>
        <p><strong>Completion Status:</strong> Incomplete</p>
        <p><strong>Completion Date:</strong> N/A</p>
    <% else %>
        <p><strong>Completion Status:</strong> Complete</p>
        <p><strong>Completion Date:</strong> <%= @task.comp_date.strftime("%B %d, %Y") %></p>
    <% end %>
    <div id="edit_button">
      <%= button_to "Edit", "/tasks/#{@task.id}/edit", method: "get" %>
    </div>
