<section>
<h1><%= @task.name %></h1>

    <p><%= @task.description %></p>
    <p><%= @task.person.name %></p>
    <% if @task.completed_date != nil %>
      <p>Completed!</p>
    <% else %>
      <p>Incomplete!</p>
    <% end %>
    <p><%= @task.completed_date %></p>

    <%= link_to 'Edit',  { action: :edit, id: @task.id }, method: :get %>


</section>
