<h1><%= @task.name %></h1>
<% if !@task.description.empty? %>
  <h5>Description:</h5>
  <p><%= @task.description %>
<% end %>
<h5>Created At:</h5>
<p><%= @task.created_at %>
<% if !@task.complete.nil? %>
  <h5>Completed At:</h5>
  <p><%= @task.completed_at %>
<% end %>
<br>
<br>
<%= link_to "Back to Tasks", "/" %>
