<h1> Do It To It </h1>
<%= button_to "Create new task", "/tasks/new", :class => "new_task_button", method: :get %>
<hr />
<div class="list">

    <% @tasks.each do |task| %>
      <% if task.completed_at.nil? %>
        <div class="task"><%= link_to task.name, "/tasks/#{task.id}" %>
        <br>
        <%= link_to "Mark Complete", { action: :complete, id: task.id }, method: :patch, :class => "button" %>
        <%= link_to "Edit", "/tasks/#{task.id}/edit", :class => "button" %>
        <%= link_to "Delete", { action: :destroy, id: task.id }, method: :delete, :class => "button", data: { confirm: 'Are you sure?' } %></div>
      <% else %>
        <div class="task"><%= link_to task.name, "/tasks/#{task.id}", :class => "completed_task" %>
        <br>
        <span class ="completed_time">completed <%= distance_of_time_in_words(task.completed_at, Time.now) %> ago</span>
        <br>
        <%= link_to "Edit", "/tasks/#{task.id}/edit", :class => "button" %>
        <%= link_to "Delete", { action: :destroy, id: task.id }, method: :delete, :class => "button", data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    <% end %>
    </div>

# TO DO: fix 'show' page CSS formatting. 
