<h1>Create a new task</h1>

<%= button_to "Return to Task List", "/tasks", :class => "button" %>

<hr />

  <%= form_for @task do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <%= f.label :person_id, "Assign to" %>
    <%= f.collection_select(:person_id, Person.all, :id, :name, prompt: "Select a person:") %>
    <br>
    <%= f.submit class: "button" %>
  <% end %>
