<div class="on_paper">
<h1>editing <%= @task.name %></h1>
  <%= form_for @task, url: @url, method: @method do |f| %>


      <%= f.label :name %>
      <%= f.text_field :name %>
    <br>
      <%= f.label :description %>
      <%= f.text_field :description %>
    <br>
    <!-- for this form.make a drop down selector(value from the current form where you want the collection saved, database you used to populate the select, from the database which field do you want to save, which thing you want to display) -->
      <%= f.label :person %>
      <%= f.collection_select(:person_id, Person.all, :id, :name) %>
    <br>
    <%= f.submit%>

  <% end %>

  <%= link_to "back to the list", "/" %>

</div>
