<div class="on_paper">
<h1>editing <%= @task.name %></h1>
  <%= form_for @task, url: @url, method: @method do |f| %>


      <%= f.label :name %>
      <%= f.text_field :name %>
    <br>
      <%= f.label :description %>
      <%= f.text_field :description %>

    <br>
    <%= f.submit%>

  <% end %>

  <%= link_to "back to the list", "/" %>

</div>
