<div class="on_paper">

<h1><a href="/people/">cameron kids</a><br>must do list:</h1>
<table>
  <% @tasks.each do |task| %>
    <tr>
        <% if task.complete? %>
        <td>
          <a class="complete" href="/tasks/<%= task.name %>"> <%= task.name %> </a>
        </td>
        <td>
          <% id = task.person.id %>
          <a href="/people/<%= id %>"> <%= task.person.name %></a>
        </td>
        <td>
          <%= button_to "✘", "/tasks/#{task.name}", :method => :delete, data: { confirm: "delete #{task.name}?" } %>
        </td>
        <% else %>
        <td>
          <a class="incomplete" href="/tasks/<%= task.name %>"> <%= task.name %> </a>
        </td>
        <td>
          <% id = task.person.id %>
          <a href="/people/<%= id %>"> <%= task.person.name %></a>
        </td>
        <td>
          <%= button_to "✎", "/tasks/#{task.name}/edit", :method => :get%>
        </td>
        <td>
          <%= button_to "✔︎", "/tasks/#{task.name}/complete", :method => :put %>
        </td>
        <td>
          <%= button_to "✘", "/tasks/#{task.name}", :method => :delete, data: { confirm: "delete #{task.name}?" } %>
        </td>
        <% end %>
    </tr>
  <% end %>
    <tr>
      <td>
        <a href="/tasks/new">+ a task</a>
      </td>
    </tr>
</table>

</div>
