<div class="on_paper">

<h1>note to self<br>must do:</h1>
<table>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <% if task.complete == true %>
          <%= button_to "✘", "/tasks/#{task.name}", :method => :delete, data: { confirm: "delete #{task.name}?" } %>   <a class="complete" href="/tasks/<%= task.name %>"> <%= task.name %> </a>
        <% else %>
          <%= button_to "✘", "/tasks/#{task.name}", :method => :delete, data: { confirm: "delete #{task.name}?" } %>   <a class="incomplete" href="/tasks/<%= task.name %>"> <%= task.name %> </a>
        <% end %>
      </td>
    </tr>
  <% end %>
    <tr>
      <td>
        <a href="/tasks/new">+ add a task</a>
      </td>
    </tr>
</table>

</div>
