<div class="on_paper">
<h1>updated task</h1>
<p>
  "<%= @old_name %>" updated to "<%= @task.name %>"
</p>
<p>
  "<%= @old_description %>" updated to "<%= @task.description %>"
</p>
<p>
  "<%= @old_person %>" updated to "<%= @task.person.name %>"
</p>
<br>
<a href="/tasks">List Home</a>
</div>
