<h1>Task List</h1>
<div id='divider'>-----------------</div>


  <div class='tasklist'>
    <h2>To-Do</h2>
    <table>
      <% @working_tasks.each do |task| %>
        <tr>
          <td id='task'><%= link_to task.name, "/tasks/#{task.id}" %></td> <td id='delete'><%= button_to "Delete", {action: "destroy", id: task.id }, method: :delete, class: "delete-button", data: {confirm: 'Are you sure you want to delete that?'} %></td>
        </tr>
      <% end %> 
    </table>
</div> <br>

<div id='divider'>-----------------</div>
  
  <div class='add_task'>
    <%= button_to 'Add a Task', {action: 'new'}, method: :get %>
  </div>

<div id='divider'>-----------------</div>


<div class='tasklist'>
  <table>
     <thead><h2>Completed Tasks</h2></thead>
     <% @completed_tasks.each do |task| %>
       <tr>
         <td id='task'><%= link_to task.name, "/tasks/#{task.id}" %></td><td id='delete'><%= button_to "Delete", {action: "destroy", id: task.id }, method: :delete, data: {confirm: 'Are you sure you want to delete that?'}, class: 'delete-button' %></td>
       </tr>
    <% end %> 
  </table>
</div> 

<br>
<div id='divider'>-----------------</div>


