<h1>Task List</h1>
<div id='divider'>-----------------</div>


<h2>To-Do</h2>

<%= render 'working_tasks_table' %>

<%= render 'divider' %>
  
<%= render 'add_task' %>

<%= render 'divider' %>


<%= render 'completed_tasks_table' %>

<br>
<%= render 'divider' %>

<%= render 'people_list_button' %>


