<div id='task_details'>
  <h1><%= @task.name %></h1> 
  <% if !@task.person.nil? %>
    <h3><%= @task.person.name %></h3>
  <% end %>
  <p><%= @task.description %></p>
  <% unless @task.completed_at.nil? %>
    <p>Completed on <%= @completed_time %>.</p>
  <% else %>
  <h2>This task is not complete yet. Get to it!</h2>
  <% end %>
</div>

<div id='show-buttons-row'>
  <% if @task.completed_at.nil? %>
    <div id='show-button'><%= button_to "Done!", {action:'update', id: @task.id}, method: :patch, class:"complete-button", :params => {completed: :true} %></div>
  <% end %>
  <div id='show-button'><%= button_to "Edit", {action: 'edit', id: @task.id}, method: :get, class: 'edit-button' %></div>
  <div id='show-button'><%= button_to "Delete", {action: "destroy", id: @task.id }, method: :delete, data: {confirm: 'Are you sure you want to delete that?'}, class: "delete-button"%></div>
</div>

<p id='back_button'><%= link_to 'back to Task List', '/tasks' %></p>
