<table>
  <thead>
    <tr>
      <th>
        Task
      </th>
      <th>
        Complete Date
      </th>
      <th>
        Edit?
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if @task.description == nil || @task.description == "" %>
          <%= @task.name %>
        <% else %>
          <%= @task.name %>: <%= @task.description %>
        <% end %>
      </td>
      <td>
        <% if @task.completed_at == nil %>
              <!-- <% puts "No" %> -->
          <!-- <input type="checkbox" name="completed[]" value="incomplete"> -->
        <% else %>
          <%= @task.completed_at %>
        <% end %>
      </td>
      <td>
        <%= button_to "Edit", { action: "edit", id: @task.id }, method: :get %>
      </td>
    </tr>
  </tbody>
</table>
