<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <header>
    <ul>
      <li><%= link_to "Add task", {controller: "tasks", action: "new"} %></li>
      <!-- <li><a href="/tasks/new">Add a new Task</a></li> -->
      <li><%= link_to "All Tasks", root_path %></li>
    </ul>
  </header>
  <h1> <%= @title %> </h1>

<%= yield %>
<footer>
Created by  Tamar Hershenbaum &copy; <%= Time.now.year %>
</footer>
</body>
</html>
