<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href="/">All Tasks</a>
  </header>
  <h1> <%= @title %> </h1>

<%= yield %>
<footer>
Created by  Tamar Hershenbaum &copy; <%= Time.now.year %>
</footer>
</body>
</html>
