<h1>Tasks</h1>

<!-- <form class="add_button" method="get" action="/tasks/new">
  <input type="submit" value="Add a task">
</form> -->

<a href="/tasks/new">
<table id="add_task_button">
  <tr>
    <td>
      <i class="fa fa-space-shuttle fa-4x"></i>
    </td>
    <td id="add_text">
      Add a new task
    </td>
    <td>
      <i class="fa fa-space-shuttle fa-4x fa-rotate-180 fa-flip-horizontal"></i>
    </td>
  </tr>
</table>
</a>

<div id="button_box">


<!-- <a id="spaceship" href="/tasks/new">
  <form class="add_button" method="get" action="/tasks/new">
    <i class="fa fa-space-shuttle fa-4x" style="background-color:blue"></i>

    <i class="fa fa-space-shuttle fa-4x fa-rotate-180 fa-flip-horizontal" style="background-color:blue"></i>
  </form>
  </a>

</div> -->

  <% @tasks.each do |task| %>



  <div >
    <a id="task_link" href="/tasks/<%= task.id %>"><%= task.name %></a>
  </div>


  <table id="option_buttons">
    <tr>
      <td>
        <%= button_to("/tasks/#{task.id}", method: :patch,  title: "Complete") { fa_icon("check fw lg") } %>
      </td>
      <td>
        <%= button_to("/tasks/#{task.id}/edit", method: :get, title: "Edit") { fa_icon("pencil fw lg") } %>
      </td>
      <td>
        <%= button_to("/tasks/#{task.id}", method: :delete, data: { confirm: "Are you sure you want to delete this task?"}, title: "Delete") { fa_icon("trash-o fw lg") } %>
      </td>
    </tr>
  </table>
<% end %>
