<h1>Tasks</h1>

<div id="button_box">


<a id="spaceship" href="/tasks/new">
  <form class="add_button" method="get" action="/tasks/new">
    <i class="fa fa-space-shuttle fa-4x"></i>
    <input type="submit" value="Add a task">
    <i class="fa fa-space-shuttle fa-4x fa-rotate-180 fa-flip-horizontal"></i>
  </form>
  </a>

</div>

  <% @tasks.each do |task| %>

    <!-- <a class="list_box" href = "/tasks/<%= task.id %>"> <%= task.name %> -->
    <a href="/tasks/<%= task.id %>"><%= task.name %></a>



          <form method="get" action="/tasks/<%= task.id %>/edit">
            <input type="submit" value="Edit">
          </form>

          <!-- <%= button_to "Edit", "/tasks/#{task.id}/edit" %>

          <a href="/tasks/<%= task.id %>/edit">Edit</a> -->

          <%= button_to "Delete",  "/tasks/#{task.id}", method: :delete, data: { confirm: "Are you sure you want to delete this task?"}  %>

    </a>
  <% end %>
