<h1><%= @person.name %></h1>
  <ul>
    <li>Age: <%=@person.age %></li>
    <li>Occupation: <%= @person.occupation %></li>
    <li>Tasks Assigned to <%= @person.name %>:<%=@person.tasks %>
  </ul>
<%= link_to "Edit", "/tasks/#{@task.id}/edit" %>
