<%= image_tag "homer2.png", class: "homer" %>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to "Mark Complete", "/tasks/#{task.id}", :method => :patch %>
      <%= task.name %> <%= task.completed_at %><%= link_to "Show", "/tasks/#{task.id}" %>
      <%= link_to "Delete", "/tasks/#{task.id}", :method => :delete,
      :onclick => "return confirm('Are you sure?')"%>
    </li>
  <% end %>
</ul>
<%= link_to "Add a New Task", "tasks/new" %>
