<div class="container">
  <h1>Task List</h1>
    <table class="table table-hover">
      <tr >
        <th>
          task info
        </th>
        <th>
          delete task
        </th>
        <th id="taskie">
          task
        </th>
        <th>
          description
        </th>
        <th>
          completed
        </th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td>
            <%= link_to "show", "/tasks/#{task.id}" %>
          </td>
          <td>
            <%= button_to "delete", "tasks/#{task.id}", method: :delete %>
            <!-- onclick="return confirm('Are you sure?')" -->
          </td>
         <td>
          	<div><%= task.name %></div>
         </td>
         <td>
          	<div><% if task.description == "" %><%= "n/a" %><% end %><%= task.description %></div>
         </td>
         <td>
          	<div><% if task.completed_at.class == NilClass %><%= "in progress :)" %><% end %><%= task.completed_at %></div>
         </td>
       </tr>
      <% end %>
    </table>
    <%= link_to "add a task", "/tasks/new" %>
